* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
  background-color: #777;
}

header {
  background-color: #333;
  height: 10%;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
}

.navigation-menu a:link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  height: 25px;
  padding-bottom: 5px;
}
.navigation-menu a:visited {
  color: #fff;
}
.navigation-menu a:hover {
  border-bottom: 2px solid #fff;
}

.inner-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navigation-menu {
  display: flex;
  background-color: #333;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
  height: 100%;
}

.menu-toggle-btn {
  margin-right: 20px;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navigation-menu {
    align-items: center;
    width: 100%;
    margin-right: 0;
    position: absolute;
    top: 10%;
    height: 90vh;
    flex-direction: column;
    font-size: 2rem;
    padding-bottom: 40px;
    gap: 0;
  }
  .navigation-menu a:link {
    height: auto;
    padding: 20px 80px;
  }
  .navigation-menu a:hover,
  .navigation-menu a:active {
    border-bottom: none;
    background-color: #777;
    border-radius: 15px;
  }
}

.hidden {
  display: none;
}
